<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gwent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gwent">
        <activity android:name=".FastGame"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".NickNames"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Colods.Human"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Colods.Undead"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Colods.Wildness"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Colods.Colods"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameField"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>